<main id="main">
	<div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
		<div class="carousel-indicators">
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
				aria-current="true" aria-label="Slide 1"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
				aria-label="Slide 2"></button>
			<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
				aria-label="Slide 3"></button>
		</div>
		<div class="carousel-inner">
			<div class="carousel-item active" data-bs-interval="10000">
				<img src="assets/img/custom/66.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption  d-md-block">
					<h5>First slide label</h5>
					<p>Some representative placeholder content for the first slide.</p>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="10000">
				<img src="assets/img/custom/company.jpg" class="d-block w-100" alt="...">
				<div class="carousel-caption  d-md-block">
					<h5>Second slide label</h5>
					<p>Some representative placeholder content for the second slide.</p>
				</div>
			</div>
			<div class="carousel-item" data-bs-interval="10000">
				<img src="assets/img/custom/carousel.png" class="d-block w-100" alt="...">
				<div class="carousel-caption  d-md-block">
					<h5>Third slide label</h5>
					<p>Some representative placeholder content for the third slide.</p>
				</div>
			</div>
		</div>
		<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>
		<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>
	</div>


	<!-- ======= Testimonials Section ======= -->
	<section id="testimonials" class="testimonials section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<p>Eteach is an education technology business dedicated to providing online recruitment advertising, direct
					recruitment services and recruitment software to more than 7,500 schools and colleges globally</p>
			</div>

			<div class="owl-carousel testimonials-carousel">

				<div class="testimonial-item">
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam,
						ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
					<img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
					<h3>Saul Goodman</h3>
					<h4>Ceo &amp; Founder</h4>
				</div>

				<div class="testimonial-item">
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Export tempor illum tamen malis malis eram quae irure esse labore quem cillum quid cillum eram malis quorum
						velit fore eram velit sunt aliqua noster fugiat irure amet legam anim culpa.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
					<img src="assets/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="">
					<h3>Sara Wilsson</h3>
					<h4>Designer</h4>
				</div>

				<div class="testimonial-item">
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Enim nisi quem export duis labore cillum quae magna enim sint quorum nulla quem veniam duis minim tempor
						labore quem eram duis noster aute amet eram fore quis sint minim.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
					<img src="assets/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="">
					<h3>Jena Karlis</h3>
					<h4>Store Owner</h4>
				</div>

				<div class="testimonial-item">
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim
						dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
					<img src="assets/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="">
					<h3>Matt Brandon</h3>
					<h4>Freelancer</h4>
				</div>

				<div class="testimonial-item">
					<p>
						<i class="bx bxs-quote-alt-left quote-icon-left"></i>
						Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore
						duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
						<i class="bx bxs-quote-alt-right quote-icon-right"></i>
					</p>
					<img src="assets/img/testimonials/testimonials-5.jpg" class="testimonial-img" alt="">
					<h3>John Larson</h3>
					<h4>Entrepreneur</h4>
				</div>

			</div>

		</div>
	</section><!-- End Testimonials Section -->

	<!-- ======= Portfolio Section ======= -->
	<section id="portfolio" class="portfolio">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Our services</h2>
			</div>

			<div class="row portfolio-container" data-aos="fade-up" data-aos-delay="300">
				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
					<div class="portfolio-wrap">
						<img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Advertise with us</h4>
							<p>Engage with over 750,000 job-seeking teachers and support staff every month on the world’s #1
								education-only job board.</p>
							<div class="portfolio-links pt-2">
								<button pButton pRipple type="button" label="Find out more"
									class="p-button-raised p-button-warning"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
					<div class="portfolio-wrap">
						<img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Recruitment software</h4>
							<p>The latest recruitment technology - better, smarter and faster school recruitment.</p>
							<div class="portfolio-links pt-2">
								<button pButton pRipple type="button" label="Find out more"
									class="p-button-raised p-button-warning"></button>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 portfolio-item filter-web">
					<div class="portfolio-wrap">
						<img src="assets/img/portfolio/portfolio-2.jpg" class="img-fluid" alt="">
						<div class="portfolio-info">
							<h4>Specialist recruiters</h4>
							<p>Search and deliver - let our team of experts engage with over 2 million registered candidates for you.
							</p>
							<div class="portfolio-links pt-2">
								<button pButton pRipple type="button" label="Find out more"
									class="p-button-raised p-button-warning"></button>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</section><!-- End Portfolio Section -->





	<!-- ======= Services Section ======= -->
	<section id="services" class="services section-bg">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Why EDjobs?</h2>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box circle iconbox-blue">

						<h4><a href="">2 million +</a></h4>
						<p>registered candidates</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box circle iconbox-orange ">

						<h4><a href="">3 millions +</a></h4>
						<p>Monthly page views</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box circle iconbox-pink">

						<h4><a href="">750, 000 +</a></h4>
						<p>Monthly website visitors</p>
					</div>
				</div>

			</div>

			<div class="row mt-4">
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box iconbox-blue">
						<div class="icon  mb-2">
							<img src="assets/img/custom/q1.png" alt="" width="100px">
						</div>
						<p class="font-italic">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi inventore unde
							incidunt
							laboriosam iure explicabo distinctio quis quia ipsa corporis. Modi id enim officiis accusamus architecto
							praesentium ipsam amet ullam."</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box iconbox-orange ">
						<div class="icon  mb-2">
							<img src="assets/img/custom/q2.png" alt="" width="100px">
						</div>
						<p class="font-italic">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi inventore unde
							incidunt
							laboriosam iure explicabo distinctio quis quia ipsa corporis. Modi id enim officiis accusamus architecto
							praesentium ipsam amet ullam."</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box iconbox-pink">
						<div class="icon  mb-2">
							<img src="assets/img/custom/q3.png" alt="" width="100px">
						</div>
						<p class="font-italic">"Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi inventore unde
							incidunt
							laboriosam iure explicabo distinctio quis quia ipsa corporis. Modi id enim officiis accusamus architecto
							praesentium ipsam amet ullam."</p>
					</div>
				</div>

			</div>

		</div>
	</section><!-- End Sevices Section -->

	<!-- ======= CARRER ADVICE ======= -->
	<section id="team" class="team">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2 translate>career_advice.title</h2>
			</div>

			<div class="row">
				<div *ngFor="let item of carrerAdvice" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up"
					data-aos-delay="100">
					<div class="member">
						<div class="member-img">
							<img width="100%" [src]="item.img" class="img-fluid" alt="">
						</div>
						<div class="main" style="padding: 1rem;">
							<h4>{{item.title}}</h4>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia vero totam sapiente dolor nemo
								aliquam, consequuntur, excepturi quod molestias, voluptatum eum corrupti dignissimos voluptates. Animi
								facere dolor unde molestiae autem.</p>
						</div>
					</div>
				</div>

			</div>

		</div>
	</section><!-- End CARRER ADVICE -->






</main><!-- End #main -->