.section-title p {
	margin-bottom: 0;
	font-size: 25px;
	color: #000;
}

.carousel {
	margin-bottom: 0;
}

.services  .circle{
border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    padding: 50px 0;
}

.main p{
	font-size: small;
	color: grey;
}