<div class="mb-3 rounded">
	<h5 class="text-left">Your filters</h5>
	<div class="my-filter mb-4 text-left">
		<p-chip *ngFor="let item of filterParams; let i = index" label="{{item}}" [removable]="false">
			<i class="pi pi-times icon" (click)="removeParam(item)"></i>
		</p-chip>
	</div>
	<h5 class="text-left">Refine search</h5>
	<p-accordion *ngFor="let item of accordionList" class="mt-2">
		<p-accordionTab header="{{item.name}}">
			<p-dropdown *ngIf="item.name === 'Location'" ngDefaultControl [options]="countries" [(ngModel)]="selectedCountry"
				optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a Country">
				<ng-template pTemplate="selectedItem">
					<div class="country-item country-item-value" *ngIf="selectedCountry">
						<div>{{selectedCountry.name}}</div>
					</div>
				</ng-template>
				<ng-template let-country pTemplate="item">
					<div class="country-item text-left">
						<div>{{country.name}}</div>
					</div>
				</ng-template>
			</p-dropdown>
		</p-accordionTab>
	</p-accordion>
</div>