<div class="mb-3 rounded">
	<h5 class="text-left">Your filters</h5>
	<div class="my-filter mb-4 text-left">
		<p-chip *ngFor="let item of filterParams; let i = index" label="{{item}}" [removable]="false">
			<i class="pi pi-times icon" (click)="removeParam(item)"></i>
		</p-chip>
	</div>
	<h5 class="text-left">Refine search</h5>
	<p-accordion *ngFor="let item of accordionList" class="mt-2">
		<p-accordionTab header="{{item.name}}">
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
				dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
				ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in
				voluptate velit esse cillum dolore eu fugiat nulla pariatur.
				Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est
				laborum.</p>
		</p-accordionTab>
	</p-accordion>
</div>