<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
	<div class="container" data-aos="zoom-in">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-9 text-center">
						<p style="font-size: x-large; margin: 0;"><b>Are you looking for teachers? </b> Start receiving applications
							today</p>
					</div>
					<div class="col-lg-3 text-center">
						<a class="cta-btn">Post a vacancy</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- End Cta Section -->