<!-- ======= Cta Section ======= -->
<section id="cta" class="cta">
	<div class="container" data-aos="zoom-in">
		<div class="row">
			<div class="col-12">
				<div class="row">
					<div class="col-lg-9 text-center">
						<p translate class="title"><b translate>post.text1 </b>post.text2</p>
					</div>
					<div class="col-lg-3 text-center">
						<a routerLink="recruit/pay-per-vacancy" translate class="cta-btn">post.button</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- End Cta Section -->