.bg1 {
	background-color: #007bff !important;
}

.bg1:hover{
	background-color: #2d66a0 !important;
}

.m1-txt1{
	font-family: 'Rubik';
	color: #000 !important;
}

.m1-txt2{
	font-weight: 700;
	font-family: 'Rubik';
	color: #007bff;
}

.s2-txt2, .s2-txt1, .s2-txt4{
	font-family: 'Rubik';
}

.s2-txt3{
	font-family: 'Rubik';
	font-size: 15px;
  text-align: center;
	color: #000;
}

.invalid-input {
  border-bottom: 3px solid red;
}

.valid-input {
  border-bottom: 3px solid transparent;
}



.not_req{
	font-style: italic;
	font-size: smaller;
	color: grey;
}

.size6 {
	width: 120px;
	height: 120px;
}

.wsize2 {
	max-width: 380px;
	margin-top: 35px;
}



.p-sidebar-left.p-sidebar-active{
	background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
	overflow: scroll;
}

.p-b-45 {
	padding-bottom: 90px;
}

.contact100-form p{
	color: #000;
}

.tab-content>.tab-pane p {
	color: #000;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.size3 {
		max-width: 50%;
		min-height: 100vh;
	}

	.size2 {
		height: 100%;
		width: 55%;
	}
 }

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) { 
	.size3 {
		max-width: 50%;
		min-height: 100vh;
	}

		.size2 {
		height: 100%;
		width: 52%;
	}
 }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.size3 {
		max-width: 45%;
		min-height: 100vh;
	}

	.size2 {
		height: 100%;
		width: 55%;
	}

	.size6 {
    width: 140px;
    height: 140px;
	}

	
	.p-sidebar-left.p-sidebar-active{
		overflow: hidden;
	}
 }