.bg1 {
	background-color: #007bff !important;
}

.bg1:hover{
	background-color: #2d66a0 !important;
	// border: 5px double rgb(81, 120, 143);
}

.m1-txt1{
	font-family: 'Rubik';
	color: #000 !important;
}

.m1-txt2{
	font-weight: 700;
	font-family: 'Rubik';
	color: #007bff;
}

.s2-txt2, .s2-txt1, .s2-txt4{
	font-family: 'Rubik';
}

.s2-txt3{
	font-family: 'Rubik';
	font-size: 15px;
  text-align: center;
	color: #000;
}

.invalid-input {
  border-bottom: 3px solid red;
}

.valid-input {
  border-bottom: 3px solid transparent;
}



.not_req{
	font-style: italic;
	font-size: smaller;
	color: grey;
}

.size6 {
	width: 120px;
	height: 120px;
}

.wsize2 {
	max-width: 380px;
	margin-top: 35px;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	.size3 {
		max-width: 50%;
		min-height: 100vh;
	}

		.size2 {
		height: 100%;
		width: 55%;
	}
 }

// Large devices (desktops, 1024px and up)
@media (min-width: 1024px) { 
	.size3 {
		max-width: 50%;
		min-height: 100vh;
	}

		.size2 {
		height: 100%;
		width: 55%;
	}
 }


// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.size3 {
		max-width: 45%;
		min-height: 100vh;
	}

		.size2 {
		height: 100%;
		width: 55%;
	}
 }