<body class="d-flex h-100 text-center text-white">

	<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
		<main class="px-3 mt-4">
			<h1>Coming soon</h1>
			<p id="demo"></p>
			<div class="container">
				<div class="row">
					<div class="col-12">
						<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
									aria-controls="pills-home" aria-selected="true">Рассылка</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
									aria-controls="pills-profile" aria-selected="false">Опрос</a>
							</li>

						</ul>
						<div class="tab-content" id="pills-tabContent">
							<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

								<form class="text-left">
									<div class="input-group mb-3">
										<input type="text" class="form-control" placeholder="Recipient's username"
											aria-label="Recipient's username" aria-describedby="basic-addon2">
										<div class="input-group-append">
											<button class="btn btn-success " type="button">Button</button>
										</div>
									</div>
								</form>
							</div>
							<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
								<form>
									<div class="row">
										<div class="col-sm-6 pb-2">
											<input type="text" class="form-control" placeholder="First name">
										</div>
										<div class="col-sm-6 pb-2">
											<input type="text" class="form-control" placeholder="Last name">
										</div>

										<div class="col-sm-12">
											<button type="button" class="btn btn-primary btn-lg btn-block">Block level button</button>
										</div>

									</div>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>

		<!-- <footer class="mt-auto text-white-50">
			<p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a
					href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
		</footer> -->
	</div>





	<div id="gadsf21g"></div>
</body>