<div class="size1 bg0 where1-parent">
	<!-- Coutdown -->
	<div class="flex-c-m bg-img1 size2 where1 overlay1 where2 respon2"
		style="background-image: url(../../../../assets/img/custom/coming_soon/5.jpg);">
		<!-- <p id="demo"></p> -->
		<div class="wsize2 flex-w flex-c-m cd100 js-tilt">

			<div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
				<span class="l2-txt1 p-b-9 days">{{days}}</span>
				<span class="s2-txt4">Дней</span>
			</div>

			<div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
				<span class="l2-txt1 p-b-9 hours">{{hours}}</span>
				<span class="s2-txt4">Часов</span>
			</div>

			<div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
				<span class="l2-txt1 p-b-9 minutes">{{minutes}}</span>
				<span class="s2-txt4">Минут</span>
			</div>

			<div class="flex-col-c-m size6 bor2 m-l-10 m-r-10 m-t-15">
				<span class="l2-txt1 p-b-9 seconds">{{seconds}}</span>
				<span class="s2-txt4">Секунд</span>
			</div>
		</div>
	</div>

	<!-- Form -->
	<div class="size3 flex-col-sb flex-w p-l-75 p-r-75 p-t-45 p-b-45 respon1">
		<div class="wrap-pic1 mb-2">
			<img src="assets/coming-soon/images/logo1.png" alt="LOGO">
			<!-- <h3>EDjobs.in</h3> -->
		</div>

		<div>
			<p class="m1-txt1 p-b-36">
				Наш веб-сайт<span class="m1-txt2"> в разработке</span> <br>
				<span>Расскажите нам о себе</span>
			</p>


			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
						type="button" role="tab" aria-controls="pills-home" aria-selected="true">Работодатель</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
						type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Соискатель</button>
				</li>
			</ul>
			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
					<p>Кого вы ищите?</p>
					<form name="myForm" class="contact100-form validate-form">
						<div class="wrap-input100 m-b-10 validate-input" data-validate="Position is required">
							<input [(ngModel)]="user.position" class="s2-txt1 placeholder0 input100" type="text" name="position"
								placeholder="Позиция">
						</div>

						<div class="wrap-input100 m-b-20 validate-input">
							<input [(ngModel)]="user.region" class="s2-txt1 placeholder0 input100" type="text" name="region"
								placeholder="Город">
						</div>
						<div class="wrap-input100 m-b-20 validate-input" data-validate="Full name is required: ex@abc.xyz">
							<input [(ngModel)]="user.fullName" class="s2-txt1 placeholder0 input100" type="text" name="fullName"
								placeholder="ФИО">
						</div>
						<div class="wrap-input100 m-b-20 validate-input" data-validate="Email is required: ex@abc.xyz">
							<input [(ngModel)]="user.email" class="s2-txt1 placeholder0 input100" type="text" name="email"
								placeholder="E-mail">
						</div>

						<div class="w-full">
							<button (click)="validateForm(user)" class="flex-c-m s2-txt2 size4 bg1 bor1 hov1 trans-04">
								Подписаться
							</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
					<p>Какую вакансию вы ищите?</p>
					<form class="contact100-form validate-form">
						<div class="wrap-input100 m-b-10 validate-input" data-validate="Position is required">
							<input [(ngModel)]="user.position" class="s2-txt1 placeholder0 input100" type="text" name="position"
								placeholder="Позиция">
							<!-- <span class="focus-input100"></span> -->
						</div>

						<div class="wrap-input100 m-b-20 validate-input" data-validate="Region is required: ex@abc.xyz">
							<input [(ngModel)]="user.region" class="s2-txt1 placeholder0 input100" type="text" name="region"
								placeholder="Город">
							<!-- <span class="focus-input100"></span> -->
						</div>
						<div class="wrap-input100 m-b-20 validate-input" data-validate="Full name is required: ex@abc.xyz">
							<input [(ngModel)]="user.fullName" class="s2-txt1 placeholder0 input100" type="text" name="fullName"
								placeholder="ФИО">
							<!-- <span class="focus-input100"></span> -->
						</div>
						<div class="wrap-input100 m-b-20 validate-input" data-validate="Email is required: ex@abc.xyz">
							<input [(ngModel)]="user.email" class="s2-txt1 placeholder0 input100" type="text" name="email"
								placeholder="E-mail">
							<!-- <span class="focus-input100"></span> -->
						</div>

						<div class="w-full">
							<button (click)="validateForm(user)" class="flex-c-m s2-txt2 size4 bg1 bor1 hov1 trans-04">
								Подписаться
							</button>
						</div>
					</form>
				</div>
			</div>



			<p class="s2-txt3 p-t-18">
				Не переживайте! Вы всегда можете отписаться от нашей рассылки.
			</p>
		</div>

		<div class="flex-w" style="display: none;">
			<a href="#" class="flex-c-m size5 bg3 how1 trans-04 m-r-5">
				<i class="fa fa-facebook"></i>
			</a>

			<a href="#" class="flex-c-m size5 bg4 how1 trans-04 m-r-5">
				<i class="fa fa-twitter"></i>
			</a>

			<a href="#" class="flex-c-m size5 bg5 how1 trans-04 m-r-5">
				<i class="fa fa-youtube-play"></i>
			</a>
		</div>
	</div>
</div>

<p-toast position="bottom-center"></p-toast>


<script>
	// Set the date we're counting down to
	var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();

	// Update the count down every 1 second
	var x = setInterval(function () {

		// Get today's date and time
		var now = new Date().getTime();

		// Find the distance between now and the count down date
		var distance = countDownDate - now;

		// Time calculations for days, hours, minutes and seconds
		var days = Math.floor(distance / (1000 * 60 * 60 * 24));
		var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
		var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
		var seconds = Math.floor((distance % (1000 * 60)) / 1000);

		// Display the result in the element with id="demo"
		document.getElementById("demo").innerHTML = days + "d " + hours + "h "
			+ minutes + "m " + seconds + "s ";

		// If the count down is finished, write some text
		if (distance < 0) {
			clearInterval(x);
			document.getElementById("demo").innerHTML = "EXPIRED";
		}
	}, 1000);
</script>

<script>
	// Example starter JavaScript for disabling form submissions if there are invalid fields
	(function () {
		'use strict'

		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.querySelectorAll('.needs-validation')

		// Loop over them and prevent submission
		Array.prototype.slice.call(forms)
			.forEach(function (form) {
				form.addEventListener('submit', function (event) {
					if (!form.checkValidity()) {
						event.preventDefault()
						event.stopPropagation()
					}

					form.classList.add('was-validated')
				}, false)
			})
	})()
</script>