<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a href="#" class="navbar-brand">
		<img style="width: 40px;" [src]="companyInfo.img" alt="">
		<!-- {{companyInfo.shortName}} -->
	</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
		aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">Jobs <span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="#">Talent pool <span class="sr-only">(current)</span></a>
			</li>

		</ul>
		<form class="form-inline my-2 my-lg-0">
			<button styleClass="p-button-sm" icon="pi pi-chevron-circle-right" iconPos="right" pButton pRipple type="button"
				label="School website"></button>

		</form>
	</div>
</nav>

<main id="main">
	<section class="jumbotron text-center pt-100">
		<div class="container">
			<h2 class="jumbotron-heading">Добро пожаловать на страницу <br>{{companyInfo.title}}</h2>
			<p class="lead">Мы ищем лучших профессионалов в сфере образования</p>
		</div>
	</section>


	<section id="about" class="about">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>О нас</h2>
				<!-- <p>Кто мы? </p> -->
			</div>
			<div class="row content">
				<div class="col-lg-6">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore
						magna aliqua.
					</p>
					<ul>
						<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
						<li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
						<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
						<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
						<li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
					</ul>
				</div>
				<div class="col-lg-6 pt-4 pt-lg-0">
					<img src="assets/img/portfolio/portfolio-7.jpg" width="100%" alt="">
				</div>
			</div>

		</div>
	</section>


	<section id="vacancy" class="services section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Присоединяйтесь к нам</h2>
				<p>Открытые вакансии</p>
			</div>

			<div class="row">
				<div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<div class="icon-box iconbox-blue">

						<h4><a href="">Lorem Ipsum</a></h4>
						<p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
					<div class="icon-box iconbox-orange ">

						<h4><a href="">Sed Perspiciatis</a></h4>
						<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore</p>
					</div>
				</div>

				<div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
					<div class="icon-box iconbox-pink">

						<h4><a href="">Magni Dolores</a></h4>
						<p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
					</div>
				</div>
			</div>

		</div>
	</section>


	<section id="about-video" class="about-video">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>PART OF ASPIRATIONS ACADEMIES TRUST</h2>
				<p>EDUCATION FOR SUCCESS IN THE 21ST CENTURY</p>
			</div>

			<div class="row">
				<div class="col-lg-6 video-box align-self-baseline" data-aos="fade-right" data-aos-delay="100">
					<img src="assets/img/about-video.jpg" class="img-fluid" alt="">
					<a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video"
						data-autoplay="true"></a>
				</div>

				<div class="col-lg-6 pt-3 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">
					<h3>Voluptatem dignissimos provident quasi corporis voluptates sit assumenda.</h3>
					<p class="font-italic">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
						dolore
						magna aliqua.
					</p>
					<ul>
						<li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
						<li><i class="bx bx-check-double"></i> Duis aute irure dolor in reprehenderit in voluptate velit.</li>
						<li><i class="bx bx-check-double"></i> Voluptate repellendus pariatur reprehenderit corporis sint.</li>
						<li><i class="bx bx-check-double"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
							irure dolor in reprehenderit in voluptate trideta storacalaperda mastiro dolore eu fugiat nulla pariatur.
						</li>
					</ul>
					<p>
						Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
						velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
						culpa qui officia deserunt mollit anim id est laborum
					</p>
				</div>

			</div>

		</div>
	</section>


	<section id="video" class="services section-bg">
		<div class="container" data-aos="fade-up">
			<div class="section-title">
				<h2>Наша школа</h2>
			</div>

			<div class="row">
				<div class="col-lg-12  d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
					<iframe width="100%" height="500" src="https://www.youtube.com/embed/jEIb4EAT2ts" title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen></iframe>
				</div>
			</div>

		</div>
	</section>


	<section id="location" class="contact">
		<div class="container" data-aos="fade-up">

			<div class="section-title">
				<h2>Местоположение</h2>
			</div>

			<div>
				<iframe style="border:0; width: 100%; height: 270px;"
					src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
					frameborder="0" allowfullscreen></iframe>
			</div>
		</div>
	</section>

</main>