<!-- ======= Header ======= -->
<nav *ngIf="!hasRoute('/company') && !hasRoute('/coming-soon')" class="navbar navbar-expand-xl navbar-dark bg-dark"
	aria-label="Third navbar example">
	<div class="container-fluid">
		<a class="navbar-brand">
			<img src="../assets/coming-soon/images/logo1.png" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03"
			aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExample03">
			<ul class="navbar-nav me-auto mb-2 mb-sm-0 mb-md-0">
				<li class="nav-item dropdown">
					<a translate class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
						aria-expanded="false">navbar.jobs</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a translate class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
						aria-expanded="false">navbar.career_advice</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a translate class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown"
						aria-expanded="false">navbar.contact_us</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li><a class="dropdown-item" href="#">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a translate class="nav-link dropdown-toggle" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
						<img width="25px" src="assets/img/custom/{{selectedLang.code}}.png">
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown03">
						<li (click)="onChangeLang(item)" *ngFor="let item of langs">
							<a class="dropdown-item"><img width="25px" src="assets/img/custom/{{item.code}}.png">
							</a>
						</li>
					</ul>
				</li>
			</ul>
			<form class="nav-btn-group" *ngIf="hasRoute('/') && !hasRoute('recruit')">
				<button routerLink="/login" pButton pRipple type="button" label="{{'navbar.sign_in' | translate}}"
					class="p-button-raised p-button-danger p-button-sm"></button>
				<button routerLink="/recruit" pButton pRipple type="button" label="{{'navbar.post_vacancy' | translate}}"
					class="p-button-raised p-button-help p-button-sm"></button>
			</form>
			<form class="nav-btn-group" *ngIf="hasRoute('recruit') && !hasRoute('recruit/pay-per-vacancy')">
				<button routerLink="/login" pButton pRipple type="button" label="Sign in/Register"
					class="p-button-raised p-button-warning p-button-sm"></button>
				<button routerLink="/" pButton pRipple type="button" label="Jobseekers"
					class="p-button-raised p-button-help p-button-sm"></button>
			</form>
		</div>
	</div>
</nav>

<router-outlet (activate)="onActivate($event)"></router-outlet>


<footer *ngIf="!hasRoute('/company') && !hasRoute('/login') && !hasRoute('/coming-soon')" id="footer">
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-contact">
					<!-- <h3>OnePage</h3> -->
					<img class="mb-2" src="../assets/coming-soon/images/logo1.png" alt="">
					<p>
						<span translate>footer.street</span> <br>
						<span translate>footer.region</span><br>
						<span translate>footer.country</span> <br><br>
						<strong translate>footer.phone</strong> +44 7547 363438<br>
						<strong translate>footer.email</strong> info@edjobs.com<br>
					</p>
				</div>

				<div class="col-lg-2 col-md-6 footer-links">
					<h4 translate>footer.jobseekers</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.browse_jobs</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.career_advice</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.recruitment_agency</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.blog</a></li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4 translate>footer.schools</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.our_services</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.packages</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.recruitment_agency</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.case_studies</a></li>
					</ul>
				</div>
				<div class="col-lg-3 col-md-6 footer-links">
					<h4>EDUjobs.in</h4>
					<ul>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.about_us</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.contact_us</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.careers</a></li>
						<li><i class="bx bx-chevron-right"></i> <a translate>footer.our_partners</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="container d-md-flex py-4">

		<div class="mr-md-auto text-center text-md-left">
			<div class="copyright">
				&copy; Copyright <strong><span>EDUjobs.in</span></strong>. All Rights Reserved
			</div>
		</div>
		<div class="social-links text-center text-md-right pt-3 pt-md-0">
			<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
			<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
			<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
			<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
			<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
		</div>
	</div>
</footer>

<a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
<div id="preloader"></div>