.bg-dark{
	background-color: #2487ce!important;
}

.nav-btn-group button{
	/* margin-left: 0.25rem; */
	margin-right: 0.25rem;
}

.quick-panel{
	position: fixed;
	right: 0;
	top: 50%;
	background-color: #2487ce;
	height: 150px;
	width: 45px;
	display: none;
}

.dropdown a{
	font-size: small;
	margin: 5px 0;
}

.icon-box:hover{
	border-bottom: 3px solid #007bff;
}



/* Extra small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */

 /* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
	
 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	
 }