.blog-post{
	background: aliceblue;
  padding: 10px;
  border: 1px solid transparent;
	border-radius: 2px;
	border: 1px solid #E9ECEF;
	button{
		margin-left: 0.25rem;
		margin-right: 0.25rem;
	}
}

.p-accordion p-accordiontab .p-accordion-tab{
	margin-bottom: 10px;
}

.p-accordion p-accordiontab:last-child .p-accordion-header:not(.p-highlight) .p-accordion-header-link:hover{
	text-decoration: none;
}


.p-message-custom {
	background-color: #E1CFE7;
	border: solid #8A427A;
	border-width: 0 0 0 6px;
	color: #2c1e30;
}
.p-message-close-icon {
	color: #2c1e30;
}

.badge{
	padding: 5px;
}