<div class="container">
	<div class="row mt-4 justify-content-md-center">
		<div class="col-sm-12 text-center">
			<h2>Post a vacancy</h2>
			<h5>Advertise your vacancy for 30 days on Eteach for just <span style="font-weight: 700;">£499+VAT</span> and get
				applications direct to
				your inbox. <br>Alternatively, request a call back with our team and start recruiting today.</h5>
		</div>

		<div class="col-sm-12 pt-4 mb-4 mt-4">
			<p-steps [model]="items"></p-steps>

			<div class="form mt-4 mb-4">
				<div class="row">
					<h3 class="text-left">Institution details</h3>
					<h6>Institution name</h6>
					<div class="col-12">
						<input style="width: 100%;" type="text" pInputText>
						<hr class="mt-4">
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-12">
						<h3 class="text-left">Advert details</h3>
						<h6>Job title</h6>
						<input style="width: 100%;" type="text" pInputText>
					</div>


				</div>

				<div class="row mt-2">
					<div class="col-6">
						<h6>Application method</h6>
						<input style="width: 100%;" type="text" pInputText>
					</div>
					<div class="col-6">
						<h6>Email to receive app</h6>
						<input style="width: 100%;" type="text" pInputText>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-6">
						<h6>Contract type</h6>
						<input style="width: 100%;" type="text" pInputText>
					</div>
					<div class="col-6">
						<h6>Contract term</h6>
						<input style="width: 100%;" type="text" pInputText>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-6">
						<h6>Salary (optional)</h6>
						<input style="width: 100%;" type="text" pInputText>
					</div>
					<div class="col-6">
						<h6>Your reference</h6>
						<input style="width: 100%;" type="text" pInputText>
					</div>
				</div>

				<div class="row mt-2">
					<div class="col-12">
						<label for="exampleFormControlTextarea1">Example textarea</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>