<!-- ======= Sponsored jobs Section ======= -->
<section id="services" class="services section-bg">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2 translate>sponsored_jobs.title</h2>
			<h5 translate>sponsored_jobs.subtitle</h5>
		</div>

		<div class="row">
			<div [routerLink]="['job', item.id]" *ngFor="let item of sponsoredJobs"
				class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
				<div class="icon-box iconbox-blue mb-4">

					<h4 class="text-left"><a>{{item.title}}</a></h4>
					<div class="row">
						<div class="text-left icon-group col">
							<p><i style="font-size: 1.4rem;" class="icofont-location-pin"></i> {{item.location}}</p>
							<p><i style="font-size: 1.4rem;" class="bi bi-house-fill"></i> {{item.school}}</p>
							<p><i style="font-size: 1.4rem;" class="bi bi-cash"></i> {{item.price}}</p>
							<p><i style="font-size: 1.4rem;" class="bi bi-clock-fill"></i> {{item.time}}</p>
						</div>
						<div class="icon col">
							<img width="100%" src="assets/img/custom/{{item.img}}" alt="">
						</div>
					</div>
				</div>
			</div>



		</div>

	</div>
</section><!-- End Sponsored jobs Section -->