<!-- ======= Sponsored jobs Section ======= -->
<section id="services" class="services section-bg">
	<div class="container" data-aos="fade-up">

		<div class="section-title">
			<h2>Sponsored jobs</h2>
			<p>Your next role could be a click away. Apply today.</p>
		</div>

		<div class="row">
			<div *ngFor="let item of sponsoredJobs" class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in"
				data-aos-delay="100">
				<div class="icon-box iconbox-blue mb-4">
					<div class="icon">
						<img src="assets/img/custom/1.jpg" alt="">
					</div>
					<h4><a>{{item.title}}</a></h4>
					<div class="text-left">
						<p><i class="bi bi-geo-alt"></i> {{item.location}}</p>
						<p><i class="bi bi-house-fill"></i> {{item.school}}</p>
						<p><i class="bi bi-cash"></i> {{item.price}}</p>
						<p><i class="bi bi-clock-fill"></i> {{item.time}}</p>
					</div>
				</div>
			</div>



		</div>

	</div>
</section><!-- End Sponsored jobs Section -->